html {
    background-color: rgb(154, 154, 240);
}
h1 {font-size: 60px;
    text-align: center;
    color: rebeccapurple;
}

div.container{
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
}

button {
    font-size: 20px;
    background-color: palevioletred;
    color: black;
    border-radius: 6px;
    border-color: rebeccapurple;
}